@font-face {
    font-family: 'OnglipJuRiSonPenji';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

:root {
  @media screen and (min-width: 1026px) and (max-width: 1440px) {
    font-size: 90%;
  }

  @media screen and (min-width: 769px) and (max-width: 1025px) {
    font-size: 80%;
  }

  @media screen and (min-width: 541px) and (max-width: 768px) {
    font-size: 70%;
  }

  @media screen and (min-width: 301px) and (max-width: 540px) {
    font-size: 60%;
  }

  @media screen and (max-width: 300px) {
    font-size: 50%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'OnglipJuRiSonPenji';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


html,
body {
  color: #1a1f2a;
}

ul,
li {
  list-style: none;
}

p {
  display: inline-block;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

input {
  outline: none;
  font-size: 14px;
}

input::placeholder {
  font-size: 14px;
  font-weight: bolder;
  color: #bfbfbf;
}

button {  
  cursor: pointer;
}

.toastify .Toastify__toast {
  background-color: white;
  top: 40px;
  right: 80px;
  width: 400px;
  color: #274168;
  border-radius: 0px;

  @media (max-width: 600px) {
    top: 50px;
    width: 50vw;
    height: 20px;
    margin-top: 10px;
    right: 10px;
    margin-left: auto;
    border-radius: 5px;
  }
}

